<div>
  <div>
    <div class="col s12 m6">
      <div class="card #212121 grey darken-4 card-style">
        <div class="card-action">
          <%= simple_form_for basic_unity_healths_path, :method => 'get' do |f| %>
            <%= f.input :by_query,
              label: false, 
              input_html: { name: 'by_query', class: 'text-color' } %>
            <%= f.button :submit, "Buscar" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-dimension">
    <div id="map" class="map-size"></div>
  </div>
</div>

<div>
  <div id="ubs" value="<%= @ubs %>"></div>
  <div id="lat" value="<%= @fix_marker.first %>"></div>
  <div id="long" value="<%= @fix_marker.second %>"></div>
<div>
<%= javascript_include_tag "draw_maps" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=raw Rails.application.secrets.google_maps_key%>&callback=myMap"></script>
